@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

canvas {
    background-color: rgba(231, 229, 229, 0.767);
    border: 3px solid rgb(63, 63, 63);
    display: block;
    margin-right: auto;
    margin-left: auto;
}
html {
    border: 115px solid grey;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}
h1 {
    text-emphasis: bold;
    text-align: center;
    font-weight: 900;
    color: rgb(0, 0, 0);    
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
}
label {
    font-size: 13px;
}
.gui {
    display: inline-block;
    margin-right: 20px;
}
button {
    background-color: rgb(214, 214, 214);
    color: black;
    font-size: 13px;
    border:2px dotted red;
}
p {
    text-align: left;
}
.intro {
    text-align:center;
}
img {
    max-width: 49%;
    max-height: auto;
}
.conclu{
    font-size: small;
    text-align: right;
    color: dodgerblue;
    margin: 15px;
    
}
ul {
    text-align: left;
    margin: 100px;
}